# Variables de entorno para reactivando-backend

DB_HOST=localhost
DB_PORT=3306
DB_NAME=reactivando
DB_USERNAME=root
DB_PASSWORD=tu_contraseña_aqui
JWT_SECRET=ReactivandoElFuturoSecretKeySena2026SuperSeguraConMasDe256Bits!
GOOGLE_MAPS_API_KEY=tu_google_maps_api_key_aqui
PORT=8080
